<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Karma Manager is an Anagram Maker</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="karma_manager.js"></script>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
    </head>
    
    <body>
        <span style="font-size:5vw">Karma Manager </span>
	<span style="font-size:4vw">the Anagram Maker</span><p/>

        <div ng-app="karmaManager" ng-controller="karmaKontrol">
            Input words: <input type="text" style="width: 40vw;" ng-model="sourceWords"></input><p/>
            <button type="button" ng-click="toggleAdvanced()">Toggle Advanced Features</button><p/>
            <div style="display: {{ advanced }};"> Include Phrases: <textarea style="width: 50vw;" ng-model="seedText"></textarea><p/></div>
            <div style="display: {{ advanced }};"> Exclude words: <textarea style="width: 50vw;"  ng-model="exclusions"></textarea><p/></div>
            Page size: <input type="range" ng-model="pageSize" min=10 max=50> {{ pageSize }} <p/>
            <div>
                <table>
                    <tr style="background-color: #ff7f7f;" ng-repeat="e in errors">
                        <td>{{ e }}</td>
                    </tr>
                </table>
            </div>
            <button type="button" ng-click="backwardPage()" ng-disabled="startIndex <= 0">backward</button>
            Anagrams {{ startIndex + 1 }} to {{ startIndex + anagrams.length }}&nbsp;
            <button type="button" ng-click="forwardPage()" ng-disabled="count <= startIndex + pageSize">forward</button> <br/>
            <table>
                <tr ng-repeat="a in anagrams">
                    <td>{{ a }}</td>
                </tr>
            </table>
        </div>

	web implementation by Mitch Patenaude<br/>
        (thanks to the author of the 80's Mac Shareware)

        <script>
var app = angular.module("karmaManager", []);
app.controller("karmaKontrol", function($scope, $http) {
    $scope.km = new KarmaManager([]);
    $scope.advanced = "none";
    $http.get('dict.json').then( function(response) {
        $scope.dict = response.data;
        $scope.km = new KarmaManager($scope.dict);
    })

    $scope.startIndex = 0;
    $scope.anagrams = [];
    $scope.errors = [];
    $scope.sourceWords = "";
    $scope.pageSize = 20;

    $scope.toggleAdvanced = function() {
        if ( $scope.advanced == "none" ) {
            $scope.advanced = "";
        } else {
            $scope.advanced = "none";
            $scope.km.clearSeedSet();
            $scope.seedText = "";
            $scope.exclusions = "";
        }
    }

    $scope.forwardPage = function() {
        $scope.startIndex += $scope.pageSize;
        console.log($scope.startindex);
    }

    $scope.backwardPage = function() {
        $scope.startIndex -= $scope.pageSize;
        if ( $scope.startIndex < 0 ) $scope.startIndex = 0;
    }

    $scope.$watchCollection("[sourceWords, seedText, exclusions]", function( newValue, oldValue ) {
        $scope.errors = [];

        $scope.km.clearSeedSet();

        if ( $scope.seedText ) {
            let target = parseWord($scope.sourceWords);
            for ( let seed of $scope.seedText.split("\n") ) {
                if ( seed ) {
                    let seedTarget = parseWord(seed);
                    if ( seedTarget.subsetOf(target) ) {
                        $scope.km.setSeedSet(seed.split(" "));
                    } else {
                        $scope.errors.push("Included phrase '"+seed+"' not a subset of input words");
                    }
                }
            }
        }

        $scope.km.clearExclusionSet();
        if ( $scope.exclusions ) {
            $scope.km.setExclusionSet($scope.exclusions.split(/\s+/));
        }

        $scope.startIndex = 0;
        makeAnagrams();
    });

    $scope.$watchCollection("[startIndex, pageSize]", function( newValue, oldValue ) {
        makeAnagrams();
    });

    function makeAnagrams() {
        $scope.count = 0;
        $scope.anagrams = [];
        for ( let a of $scope.km.makeAnagrams([$scope.sourceWords]) ) {
            if ( $scope.count >= $scope.startIndex && $scope.count < ($scope.startIndex+$scope.pageSize) ) {
                $scope.anagrams.push(a.join(" "));
            }
            $scope.count++;
            if ( $scope.count > ($scope.startIndex + $scope.pageSize) ) break;
        }
    }
});
        </script>
    </body>
</html>
