<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Karma Manager is an Anagram Maker</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="karma_manager.js"></script>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<style type="text/css">
    .logo {
        float: right;
    }
    .divFAQ {
        margin: 5px auto;
        float: top;
        background-color: #EFEFFF;
        color: #007F00;
        width: 60vm;
    }
    .divFloat {
        margin: 10px auto;
        clear: both;
        background-color: #FFF;
        color: #000;
        width: 80vw;
        # height: auto;
        padding: 5vw;
        border: solid 1px #999;
        -webkit-border-radius: 3px;
        -webkit-box-orient: vertical;
        -webkit-transition: 200ms -webkit-transform;
        box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    }
</style>
    </head>
    
    <body>
        <div ng-app="karmaManager" ng-controller="karmaKontrol">
            <div class="logo"><img style="width: 30vw;" src="logo.svg" ng-click="toggleFAQ()"/></div>
            <span style="font-size:4vw" ng-click="toggleFAQ()">Karma Manager </span>
            <span style="font-size:3vw" ng-click="toggleFAQ()">= Anagram Maker</span><p/>
            <div class="divFAQ" ng-hide="hideFAQ">
                <button style="float: right; position: relative;" ng-click="toggleFAQ()"><strong>&times;</strong></button>
                <span style="font-size:2vm;">
                    <strong>Karma Manager</strong> is an <em>Anagram Maker</em>.  It will take your input and find sets of words that have the same letters.<br/>
                    You can choose the main dictionary of words it should use, and can also choose to add in groups of words.<br/>
                    If you turn on <strong>Advanced Features</strong>, you can provide phases which should be included, as well as words you wish to exclude.<br/>
                </span><p/>
            </div>

            Input words: <input type="text" style="width: 30vw;" ng-model="sourceWords" ng-model-options='{ debounce: 500 }'></input><p/>
            Main Dictionary: <select ng-model="mainDict" ng-change="refreshDictionaries()"><option ng-repeat="d in config.main_dictionaries" value="{{ d.file }}">{{ d.description }}</option></select><p/>
            Additional Dictionaries:<br/>
            <span ng-repeat="d in config.added_dictionaries"><input type="checkbox" ng-model="d.enabled" ng-change="refreshDictionaries()">{{ d.description }}</input><br/></span><p/>
            Searching using <button ng-click="toggleWords()">{{km.pool.length}}</button> words from the dictionaries<p/>
            <div class="divFloat" ng-hide="hideWords">
                <strong>Dictionary words in use:</strong>
                <button style="float: right; position: relative;" ng-click="showWords(false)"><strong>&times;</strong></button>
                <br/>
                <span ng-repeat="w in sortByFreq(km.pool)"><font size="{{ 3+myLog(wordCounter.get(w)) }}">{{ w }} </font></span>
            </div>
            <button type="button" ng-click="toggleAdvanced()">Toggle Advanced Features</button><p/>
            <div style="display: {{ advanced }};" ng-model-options='{ debounce: 500 }'> Include Phrases: <textarea style="width: 30vw;" ng-model="seedText"></textarea><p/></div>
            <div style="display: {{ advanced }};" ng-model-options='{ debounce: 500 }'> Exclude words: <textarea style="width: 30vw;"  ng-model="exclusions"></textarea><p/></div>
            Page size: <input type="range" ng-model="pageSize" min=10 max=50> {{ pageSize }} <p/>
            <div>
                <table>
                    <tr style="background-color: #ff7f7f;" ng-repeat="e in errors">
                        <td>{{ e }}</td>
                    </tr>
                </table>
            </div>
            <div ng-hide="anagrams.length == 0">
                <button type="button" ng-click="backwardPage()" ng-disabled="startIndex <= 0">backward</button>
                Anagrams {{ startIndex + 1 }} to {{ startIndex + anagrams.length }} of {{ numAnagrams }}&nbsp;
                <button type="button" ng-click="forwardPage()" ng-disabled="count <= startIndex + pageSize">forward</button> <p/>
            </div>
            <table>
                <tr ng-repeat="a in anagrams">
                    <td>{{ a }}</td>
                </tr>
            </table>
        </div>

        Copyright 2021,2023 (of the web implementation) by <a href="mailto:mitch@mitchpatenaude.net?subject=Karma%20Manager">Mitch "Pneumatic Death" Patenaude</a><br/>
        (with thanks to the author of the 80's Mac Shareware)

        <script>
var app = angular.module("karmaManager", []);
app.controller("karmaKontrol", function($scope, $http, $location) {
    $scope.km = new KarmaManager();
    $scope.config = new Object();
    $scope.config.added_dictionaries = [];
    $scope.mainDict = $location.search().maindict;
    $scope.addedDictionaries = $location.search().addeddicts;
    $scope.hideWords=true;
    $scope.hideFAQ=true;
    $scope.startIndex = 0;
    $scope.anagrams = [];
    $scope.cachedAnagrams = [];
    $scope.errors = [];
    $scope.pageSize = parseInt($location.search().pagesize) || 20;
    $scope.wordCounter = new StringCounter();
    $scope.numAnagrams = 0;
    $scope.maxAnagramCount = 5000;

    $scope.refreshDictionaries = function() {
        $scope.km = new KarmaManager();
        let numDicts = 0;
        if ($scope.mainDict) {
            $http.get($scope.mainDict).then( function(response) {
                $scope.km.readDictionary(response.data);
                refreshAnagrams();
            });
            numDicts += 1;
        }

        for ( d of $scope.config.added_dictionaries ) {
            if ( d.enabled ) {
                $http.get(d.file).then( function(response) {
                    $scope.km.readDictionary(response.data);
                    refreshAnagrams();
                });
                numDicts += 1;
            }
        }
        if ( numDicts == 0 ) {
            $scope.errors.push('You need to have at least one dictionary enabled');
        } 
    }

    $http.get('config.json').then( function(response) {
        $scope.config = response.data;

        if ($scope.mainDict) {
            console.log("Using main " + $scope.mainDict);
        } else {
            console.log("Using default main while selector is " + $scope.mainDict);
            $scope.mainDict = $scope.config.main_dictionaries[0].file;
        }

        if ($scope.addedDictionaries) {
            let selectedAddedDictionaries = new Set();
            for ( d of $scope.addedDictionaries.split(',') ) {
                selectedAddedDictionaries.add(d);
            }
            for ( d of $scope.config.added_dictionaries ) {
                if ( selectedAddedDictionaries.has(d.file) ) {
                    d.enabled = true;
                } else {
                    d.enabled = false;
                }
            }
        }

        $scope.refreshDictionaries();
    });

    $scope.sourceWords = $location.search().input || "Anagram Maker";
    if ($location.search().include || $location.search().exclude) {
        $scope.advanced = "";
        $scope.seedText = $location.search().include;
        $scope.exclusions = $location.search().exclude;
    } else {
        $scope.advanced = "none";
    }

    $scope.toggleFAQ = function() {
        $scope.hideFAQ = ! $scope.hideFAQ;
    }

    $scope.toggleDict = function(d) {
        d.enabled = ! d.enabled;
    };

    $scope.toggleAdvanced = function() {
        if ( $scope.advanced == "none" ) {
            $scope.advanced = "";
        } else {
            $scope.advanced = "none";
            $scope.km.clearSeedSet();
            $scope.seedText = "";
            $scope.exclusions = "";
        }
    };

    $scope.showWords = function(flag) {
        $scope.hideWords = ! flag;
    };

    $scope.toggleWords = function() {
        $scope.hideWords = ! $scope.hideWords;
    };

    $scope.forwardPage = function() {
        $scope.startIndex += $scope.pageSize;
    };

    $scope.backwardPage = function() {
        $scope.startIndex -= $scope.pageSize;
        if ( $scope.startIndex < 0 ) $scope.startIndex = 0;
    };

    $scope.sortByFreq = function(l) {
        let retval = [...l];
        retval.reverse();
        retval = [...retval.filter(function(x) { return $scope.wordCounter.get(x) > 0; })];
        retval.sort(function(a,b) { if ( b.length*$scope.wordCounter.get(b) >= a.length*$scope.wordCounter.get(a) ) return 1; else return -1;});
        return retval;
    };

    $scope.$watchCollection("[sourceWords, seedText, exclusions]", function( newValue, oldValue ) {
        refreshAnagrams();
    });

    function refreshAnagrams() {
        let selectedAddedDicts = [];
        for ( d of $scope.config.added_dictionaries ) {
            if ( d.enabled ) {
                selectedAddedDicts.push(d.file);
            }
        }
        $location.search({'input':$scope.sourceWords,'maindict':$scope.mainDict,'include':$scope.seedText,'exclude':$scope.exclusions,'addeddicts':selectedAddedDicts.join(',') || 'none','pagesize':$scope.pageSize})
        $scope.errors = [];

        $scope.km.clearSeedSet();

        if ( $scope.seedText ) {
            let target = parseWord($scope.sourceWords);
            for ( let seed of $scope.seedText.split("\n") ) {
                if ( seed ) {
                    let seedTarget = parseWord(seed);
                    if ( seedTarget.subsetOf(target) ) {
                        $scope.km.setSeedSet(seed.split(" "));
                    } else {
                        $scope.errors.push("Included phrase '"+seed+"' not a subset of input words");
                    }
                }
            }
        }

        $scope.km.clearExclusionSet();
        if ( $scope.exclusions ) {
            $scope.km.setExclusionSet($scope.exclusions.split(/[\s,]+/));
        }

        $scope.startIndex = 0;
        
        $scope.numAnagrams = 0;
        $scope.wordCounter.counters.clear();
        $scope.cachedAnagrams = [];
        $scope.iterator = $scope.km.makeAnagrams([$scope.sourceWords]);

        while ( true ) {
            let n = $scope.iterator.next();
            if ( n.done ) break;
            let a = n.value;
            $scope.cachedAnagrams.push(a);
            for ( let w of a ) { 
                $scope.wordCounter.countString(w.toLowerCase());
            }
            if ( ++$scope.numAnagrams >= $scope.maxAnagramCount ) {
                $scope.numAnagrams = "many"
                break;
            }
        }

        makeAnagrams();
    };

    $scope.$watchCollection("[startIndex, pageSize]", function( newValue, oldValue ) {
        makeAnagrams();
    });

    $scope.myLog = function(num) {
        if ( num >= 125 ) {
            return 4;
        } else if ( num >= 25 ) {
            return 3;
        } else if ( num >= 5 ) {
            return 2;
        } else if ( num >= 1 ) {
            return 1;
        }
        return 0;
    };

    function min(a, b) {
        if ( a < b ) {
            return a;
        }
        return b;
    }

    function makeAnagrams() {
        $scope.count = min($scope.startIndex, $scope.cachedAnagrams.length);
        $scope.anagrams = [];
        while ( $scope.count <= $scope.startIndex + $scope.pageSize ) {
            if ( $scope.count < $scope.cachedAnagrams.length ) {
                if ( $scope.count < $scope.startIndex + $scope.pageSize ) {
                    $scope.anagrams.push($scope.cachedAnagrams[$scope.count].join(" "));
                }
            } else {
                let n = $scope.iterator.next();
                if ( n.done ) {
                    break;
                }
                $scope.cachedAnagrams.push(n.value);
                for ( let w of n.value ) {
                    $scope.wordCounter.countString(w.toLower);
                }
                if ( $scope.count >= $scope.startIndex && $scope.count < ($scope.startIndex+$scope.pageSize) ) {
                    $scope.anagrams.push(n.value.join(" "));
                }
            }
            $scope.count++;
        }
    }
});
        </script>
    </body>
</html>
